<section>
    <div>Hello <span id='name' data-render="fullname fullname@title">John Doe</span>!</div>

    <dl id='contact'>
        <dt>Phone</dt>
        <dd class='phone'>(xxx) xxx-xxxx</dd>
        <dt>Email</dt>
        <dd class='email'>aaa@email.com</dd>
    </dl>

    <dl id='contact2'>
        <dt>Phone</dt>
        <dd class='phone'>(xxx) xxx-xxxx</dd>
        <dt>Email</dt>
        <dd class='email'>aaa@email.com</dd>
    </dl>

    <div>
        <article>
            <span class="position"></span>
            <a class="post-title post-link">Post Title</a>
            <div class="post-content">Lorem ipsum dolor sit.</div>

            <ul>
                <li class="tag"><a/></li>
            </ul>
        </article>
    </div>

</section>
